.navContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    position: absolute;
    background-color: crimson;
    top: 68px;
    right: 10px;
}


a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 60px;
    text-decoration: none;
}

.logoutBtnContainer {
    z-index: 2;
}

.profileButton {
    font-size: 30PX;
    width: 2%;
    height: 40PX;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profileButton:hover {
    border: 1px solid white;
}
.navLogo {
    width: 100%;
}
