.navContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: right;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
  position: absolute;
  background-color: crimson;
  top: 68px;
  right: 10px;
}


.logoutBtnContainer {
  z-index: 2;
}

.profileButton {
  font-size: 30px;
  width: 2%;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 25px;
}

.profileButton:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.582);
}
.navLogo {
  width: 100%;
}

.navBtn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
  width: 5%;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.navBtn:hover {
  border-bottom: 3px solid white;
  cursor: pointer;
}

.navBtnSignup {
  border: 3px solid white;
}

.navBtnSignup:hover {
  background-color: white;
  color: rgb(0, 0, 0);
}
